<div class="mb-3">
  <div class="section-title mb-0">
    <h4 class="m-0 text-uppercase font-weight-bold">Theo dõi chúng tôi</h4>
  </div>
  <div class="bg-white border border-top-0 p-3">
    <a
      href="<%=lienHe.link_facebook%>"
      class="d-block w-100 text-white text-decoration-none mb-3"
      style="background: #39569e"
    >
      <i
        class="fab fa-facebook-f text-center py-4 mr-3"
        style="width: 65px; background: rgba(0, 0, 0, 0.2)"
      ></i>
      <span class="font-weight-medium">Biznew</span>
    </a>
    <a
      href="<%=lienHe.link_youtube%>"
      class="d-block w-100 text-white text-decoration-none mb-3"
      style="background: #dc472e"
    >
      <i
        class="fab fa-youtube text-center py-4 mr-3"
        style="width: 65px; background: rgba(0, 0, 0, 0.2)"
      ></i>
      <span class="font-weight-medium">Biznew</span>
    </a>
  </div>
</div>
