<div class="mb-3">
  <div class="section-title mb-0">
    <h4 class="m-0 text-uppercase font-weight-bold">Nhận tin tức mới nhất</h4>
  </div>
  <div class="bg-white text-center border border-top-0 p-3">
    <p>
      Chúng tôi sẽ gửi thông báo cho bạn khi có tin tức mới nhất, đăng ký ngay
      nào!
    </p>
    <div class="input-group mb-2" style="width: 100%">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Email"
      />
      <div class="input-group-append">
        <button class="btn btn-primary font-weight-bold px-3">
          Đăng ký ngay!
        </button>
      </div>
    </div>
  </div>
</div>
